.cards {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    padding: 24px;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
}

@media (max-width: 700px) {
    .cards {
        flex-direction: column;
    }
}
